@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Main Colors */
    --primaryColor: #002646; /* Dark blue */
    --secondaryColor: #C3B083; /* Light brown */ 

    /* Background Colors */
    --backgroundColor: #ffffff; /* White */
    --secondaryBackgroundColor: #D9D9D9; /* Gray */
    --tertiaryBackgroundColor:#F3F3F3; /* Light Gray */
    --footerBackgroundColor: #677078; /* Dark Gray */

    /* Text Colors */
    --textColor: #4A4A4A; /* Dark grey */
    --navigationTextColor: white;  
    --headingColor: #567682; /* Dusty blue */ 

    /* Font Families */
    --primaryFont: 'Roboto', sans-serif;

    /* Font Sizes */
    --fontSizeSmall: 0.875rem;  /* 14px */
    --fontSizeNormal: 1rem;     /* 16px */
    --fontSizeLarge: 1.25rem;   /* 20px */
    --fontSizeHeading: 2.25rem; /* 36px */

    /* Font Weights */
    --fontWeightRegular: 400;
    --fontWeightBold: 700;

    /* Borders */
    --borderHard: 1px solid var(--textColor);
    --borderSoft: 1px solid var(--secondaryBackgroundColor);

    /* Outline */
    --outline: 2px solid var(--primaryColor);

    /* TODO: Spacing */
}

h3 {
    font-size: var(--fontSizeLarge);
    font-weight: var(--fontWeightBold);
    color: var(--primaryColor);
}

.badge {
    height: fit-content;
    padding: 0.5rem;
    border-radius: 0;
}

.bold {
    font-weight: var(--fontWeightBold);
}

summary, .summary {
    color: var(--primaryColor);
    font-weight: var(--fontWeightBold);
    padding: 5px 0px;
}
 
.btn {
    border-radius: 0;
    border: 1px solid var(--secondaryBackgroundColor);
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-weight: var(--fontWeightBold);
}

.btn-primary {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
}

.btn:hover, .dropdown .btn:focus {
    border-radius: 0;
    background-color: var(--secondaryColor);
}

.btn-primary:hover {
    border: none;
    transform: scale(1.03);
    background-color: var(--primaryColor);
}
*:focus-visible {
   outline: var(--outline);
}

h1 {
    color: var(--headingColor);
    font-size: var(--fontSizeHeading);
    font-weight: var(--fontWeightRegular);
}

p {
    max-width: 40rem;
}

a {
    transition: transform .5s;
}

a:hover {
     transform: scale(1.1);
}
